body {
    margin: 0;
}

#contatos {
    width: 100%;
    height: 45px;
    background-color: black;
    display: flex;
}

#contatos p {
    color: white;
    font-family: "Montserrat", sans-serif;
}

#telefonecontatos {
    margin-left: 15%;
}

#emailcontatos {
    margin-left: 19%;
}

#containersociais {
    width: 100px;
    height: 100%;
    margin-left: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containersociais img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

#logotipomenu {
    width: 100%;
    height: 200px;
    background-color:aliceblue;
    display: flex;
}

#imglogotipo {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#botoesmenu {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.botoes {
    width: 180px;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnhome, #btnservicos, #btncontato {
    background-color: rgb(107, 169, 228);
}

#btnempresa, #btnportfolio {
    background-color: rgb(3, 3, 100);
}

#imghome {
    width: 100%;
    height: 500px;
}

#textoimghome {
    width: 100%;
    height: 100px;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#textoimghome p {
    margin: 0;
    color: white;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.welcome {
    width: 100%;
    height: 460px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.texto {
    width: 730px;
    height: 350px;
    background-color: #7c4b0b;
    display: flex;
    flex-direction: column;
    margin: 0 1% 0 1%;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

#comofunciona {
    background-color:#7a7706;
}

.texto h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
}

.texto p {
    margin: 0;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    width: 75%;
}

.imgwelcome {
    width: 730px;
    height: 350px;
    margin: 0 1% 0 1%;
}

.imgwelcome img {
    width: 100%;
    height: 100%;
}

#divona {
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: center;
}

.divinha {
    width: 480px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
}

#divinha1 {
    background-color: #0bccde;
}

#divinha2 {
    background-color: #19afff;
    /*     TOP    RIGHT   BOTTOM    LEFT   */
    margin: 0     30px      0       30px;
}

#divinha3 {
    background-color: #0bd4ad;
}

.bordadivinha {
    width: 90%;
    height: 90%;
    border: solid 2px white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.divinha img {
    margin-top: 50px;
    width: 150px;
    height: 120px;
}

.divinha h1 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}

.divinha p {
    font-size: 22px;
    text-align: center;
    margin-top: 5px;
    width: 75%;
    font-family: "Montserrat", sans-serif;
}

#portfoliobaixo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0082c7;
    padding: 2% 0;
}

.portfolioimagem {
    margin: 0 15px 15px 15px;

}

.portfolioimagem img {
    width: auto;
    height: 22rem;
}

.contato {
    margin: 0;
    color: white;
    padding: 20px 0;
    background-color: #0c547a;
    text-align: center;
}

.contato h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

input[type=text], input[type=email], textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 10px;
    color: white;
    width: 100%;
}

textarea::placeholder, input::placeholder {
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

.mapa {
    margin-bottom: 3%;
    width: 100%;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}